@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #023047;
	color: #bde0fe;
	height: 95vh;
}

#game-board {
	width: 600px;
	height: 600px;
	border: 2px solid #a2d2ff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	border: 2px solid #a2d2ff;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	border: 10px solid #fff3b0;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cross {
	position: relative;
	width: 150px;
	height: 150px;
	transform: rotate(45deg);
}

.cross::before, .cross::after {
	content: '';
	position: absolute;
	background-color: #fb8500;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 5px;
}

.cross::before {
	top: 0;
	left: 45%;
	width: 15px;
	height: 150px;
}

.cross::after {
	top: 45%;
	left: 0;
	width: 150px;
	height: 15px;
}

#info {
	font-size: 30px;
	color: #ffc8dd;
}

#reset-game {
	background-color: #a2d2ff;
	padding: 8px 25px;
	color: #023047;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	font-weight: 700;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#reset-game:hover {
	background-color: #000000;
	color: #fff;
	transition: all .2s ease-in-out;
}

/* MEDIA QUERIES */

@media screen and (max-width:768px) {
	#game-board {
		width: 300px;
		height: 300px;
	}

	.square {
		width: 100px;
		height: 100px;
	}

	.circle {
		width: 50px;
		height: 50px;
	}
	
	.cross {
		position: relative;
		width: 70px;
		height: 70px;
		transform: rotate(45deg);
	}

	.cross::before {
		top: 0;
		left: 40%;
		width: 15px;
		height: 70px;
	}
	
	.cross::after {
		top: 40%;
		left: 0;
		width: 70px;
		height: 15px;
	}
	
}